.body {

    padding: 10px;
   

}


.page {
   
    min-width: 393px;
    height: 852px; 
    background-color: #f4f3e8;
    text-align: center;

}
.webbox {

    padding: 15px;
    border: 13px solid #d7c1a3;
    background-color: #d8b6c9;
    min-width: 280px;
    width: auto;
    height: fit-content;
    align-items: center;
   
  

    

}
.content {
    
    padding-top: 25px;
    padding-bottom: 15px;
    padding-right: 45px;
    padding-left: 45px;
    border: 4px solid #d6c1a5;
    background-color:#f4f3e8 ;
    width: auto;
    height: fit-content;

   
    
}
.title {
    letter-spacing: 3px;
    font-family: "manteiga-gorda", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #A46589;
    font-size: 45px;
}


.nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.nav a{
  background: #d6a8bd;
  font-family: "paradroid-mono-soft", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  padding: 3px 10px;
  border-radius: 10px;
  color: white;
  font-size: 23px;
}

h2 {
  color: #b07a91;
  font-size: 38px;
  font-family: "exo-soft", sans-serif;
  font-weight: 700;
  font-style: italic;
  margin: 25px 0;
}

h3 {

    font-size: 17px;
    color: #403737;
    font-family: "paradroid-mono-soft", sans-serif;
    font-weight: 400;
    font-style: normal;

}


p {
    font-size: 15px;
    font-family: "paradroid-mono-soft", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #403737;
    line-height: 19px;
}

img {

  width: 35% ;
  height: auto;

}

.profile img {

  border-radius: 50%;
  border: 4px solid #d6c1a5;
  margin: 10px 0;
  width: 125px ;
  height: auto;

}

.aboutPhoto{

    width: 30% ;
  height: auto;
  border-radius: 50%;
  border: 10px solid #c7a77e;


}

.socials {

    position: absolute center;
    max-width: 175px;
    display: flex;  
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    
}


 .moveTo a{
  background: #d6a8bd;
  border: none;
  padding: 5px 8px;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  font-family: "paradroid-mono-soft", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.moveTo {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

footer {
    padding: -0%;
}
 /* .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    } */

    .tag-list {
  
  position: relative;
  overflow: hidden;
}

.inner {
  width: fit-content;
  display: flex;
  gap: 1px;
  margin-top: 1px;
}
.animation-one {
  animation: loop 5s linear infinite;
}
.tag {
  color: #e2e8f0;

  background-color: #f4f3e8;
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
}
.fade {
  position: absolute;
  background: linear-gradient(90deg,#f4f3e8, transparent 30%, transparent 70%, #1e293b);
  inset: 0;
  pointer-events: none;
}
@keyframes loop {
  0% {
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(-50%);
  }
}