:root {

    font-size: 20pt;
}

div {

    width: 50px;

    height: 50px;

    outline: 1px solid black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div:nth-of-type(1) {

    background-color: aqua;
    box-sizing: border-box;

    padding: 20px;

    display: none;
}
div:nth-of-type(2) {

    background-color:coral;
    box-sizing: content-box;

    padding: 20px;
    
    width:100vw;
}