body {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}


main {

    background-color: rgb(177, 162, 143);
    width: 576px;
    height: 800px;
    
}

.one {
    position: absolute;
    color: rgb(46, 35, 35);
    font-family: "txc-pearl", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 950px;
    top: -17%;
    left: 33%;
}

.O {
    position: absolute;
    color: rgb(230, 223, 215);
    font-family: "greycliff-cf", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 250px;
    bottom: 10%;
    right: 46.3%;
}

.P {
    position: absolute;
    color: rgb(46, 35, 35);
    font-family: "kegger-us", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 450px;
    right: 36.48%;
    transform: rotate(-45deg);
    bottom: 4.5%;


}

.El {
    position: absolute;
    font-family: "termina", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size:35px ;
    color: rgb(46, 35, 35);
    top: 25%;
    right: 45%
    
}

    .lissitzky { 
    position: absolute;
    font-family: "termina", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size:12px ;
    color: rgb(46, 35, 35);
    top: 31.5%;
    right: 39.5%;
    transform: rotate(35deg); 

}

.roun {
    position: absolute;
    background-color:rgb(177, 162, 143);
    font-family: "kegger-us", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    right: 43.5%;
    bottom: 54%;
}

.kestnermappe {
    position: absolute;
    color: rgb(46, 35, 35);
    font-family: "kegger-us", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    bottom: -1.3%;
    left: 45.5%;
}