

#maincontainer {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


#chessboard {

    width: 90vw;
    aspect-ratio: 1 / 1;
    max-height: 90vh;
    max-width: 90vh;

    display: flex;
    flex-direction: column;
 



}

.row {
   
    height: 12.5%;
    display: flex;
    flex-direction: row;


}




#chessboard div div {


    background-color: rgb(236, 194, 203);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
    color: black;
    flex-grow: 1;
    width: 12.5%;
    
}


#one div:nth-last-of-type(even){

    background-color: rgb(61, 27, 154);
} 
#three div:nth-last-of-type(even){

    background-color: rgb(61, 27, 154);
} 
#seven div:nth-last-of-type(even){

    background-color: rgb(61, 27, 154);
}
 #five div:nth-last-of-type(even){

    background-color: rgb(61, 27, 154);
}
 #two div:nth-last-of-type(odd){

    background-color: rgb(61, 27, 154);
}
 #four div:nth-last-of-type(odd){

    background-color: rgb(61, 27, 154);
}
 #six div:nth-last-of-type(odd){

    background-color: rgb(61, 27, 154);
} 
#eight div:nth-last-of-type(odd){

    background-color: rgb(61, 27, 154);
} 

#nine div:nth-last-of-type(even){

    background-color: rgb(61, 27, 154);
} 

