:root {

    font-size: 24px;
}

#grind-container {

        display:grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 10px;

}

img {
    width: 100%;
    height: auto;
}

main{
    min-height:  100vh;

    display: grid;
    grid:   "header header header header"
            "menu menu menu menu"
            "page page page page"
            "side side side side"
            "footer footer footer footer";

        grid-template-rows: auto 80px 60vh auto auto;
}

header{

    grid-area: header;

}

nav {

    grid-area: menu;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

article {

    grid-area: page;

}

footer {

    grid-area: footer;
}

aside {

    grid-area: side;
}

header, nav, article, footer, aside {

    border: 5px solid black;
    padding: 0.7rem;
}


/* ipad layout breakpoint */
@media screen and (min-width: 768px) {

    nav {

            justify-content: flex-end;
        }

}

#brickcontainer {

    display: grid;
    grid-template-rows: auto;


}

#brickcontainer div {

    border: 3px solid palevioletred;
}

#brickcontainer div:nth-child(1) {

    grid-row: 1/ span 2;
    grid-column: 1/ span 2;

}#brickcontainer div:nth-child(24) {

    grid-row: 4/ span 2;
    grid-column: 5/ span 2;
}


/* desktop layout breakpoint */
@media screen and (min-width: 992px) {

    main {

        grid:   "side header header header"
        "side menu menu menu"
        "side page page page"
        "side footer footer footer";

        grid-template-rows: auto 80px 60vh auto;

    }
}

/* large desktop layout breakpoint */
@media screen and (min-width: 1200px) {

}

