.circle-ease {


    height: 200px;
    max-width: 200px;
    border-radius: 50%;
    transition: .3s ease-out;
    transform: translate(80vw);
    animation: circleMove;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.circle-linear {
    
    position: absolute;
    top: 0px;
    left: 400px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transition: .3s linear;
    animation-name: bluecircle;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: .5s;
}


.blue {
    background-color:rgb(171, 219, 253);
}

.pink {

    background-color: rgb(237, 155, 201);
}

.circle-ease:hover {

    width: 300px;
    height: 300px;

}

.circle-linear:hover {

    width: 300px;
    height: 300px;

}

@keyframes bluecircle {

    0% {

        transform: translateY(0%);
        height: 200px;

    }


    100% {
        transform: translateY(80vh);
        height: 200px;
    }
}

@keyframes circleMove {

    0% {

        transform: translateY(0%);
        height: 200px;

    }


    100% {
        transform: translateY(80vh);
        height: 200px;
    }
}