body {

    margin: 0;
}

#miancontainer {

    background-color: aqua;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction:column ;
    justify-content:center ;
    align-items: center;

    background-image:url("url(../img/Untitled-3.jpg") ;


}