body{
    background-color:#f6c86d
}

header {

    background-color:#e6b93f;
    text-align: center;
}

nav {
    text-align: center;
}

nav > a {
    background-color:#e9c564;
    text-align: center;

    padding: 10px 20px;
}

main {

    text-align: center;
    padding: 0px 10vw;
}

img{
    width: 100%;
}
a {
    color:#05512c;
    font-size: 36pt;
    text-align: center;
}

h1{

 color:#2d1508;
 text-align: center;
 font-weight: 900;
}
p{
    color:#3e230e;
    font-size: 24px;
    text-align: center;
}

header > h1 {
    color:#261504;
    font-size: 48pt;
    text-align: center;
}
footer {
    background-color: #281609;
    color:antiquewhite;
    min-height: 250px;
    text-align: center;
}
footer > p{
color:antiquewhite
}
