:root {

    font-size: 18pt;
}

main {

    width: 60vw;
}


body {
 background-color: rgb(247, 244, 222);
}



main div {

    position: relative;

    background-color: rgb(250, 215, 229);
    left: 0px;
    min-height: 215px;
}

main img {
    max-width: 100px;
}

.theheart {

    position: absolute;
    left: 0px;
    top: 30px;

    max-width: 169px;
}

.brush {

    position: absolute;
    top: 7px;
    left: 140px;

    max-width: 95px;
}

.chat {
    position: fixed;
    max-width: 69px;
    max-height: 69px;
    bottom: 0px;
    right: 0px;
    opacity: 75%;
}

header {

    background-color: rgb(224, 176, 202);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;

}

.cat {
     width: 100px;
     position: sticky;
     top: 220px;
     left: 200px;
}

main div:nth-of-type(1) p {

    width: 57%;

    top:0px;

    left: 60px;
}
