:root {

    font-size: 24pt;
}

main {

    width: 60vw;
    margin-top: 220px;
}


body {
 background-color: rgb(247, 244, 222);
}


main div {

    position: relative;

    background-color: rgb(250, 215, 229);
    min-height: 200px;
}

main img {
    max-width: 100px;
}

.theheart {

    position: absolute;
    left: 0px;
    top: 30px;

    max-width: 169px;
}

.brush {

    position: absolute;
    top: 7px;
    left: 140px;

    max-width: 95px;
}

.chat {
    position: fixed;
    max-width: 69px;
    max-height: 69px;
    bottom: 0px;
    right: 0px;
    opacity: 75%;
}

header {

    background-color: rgb(224, 176, 202);
    padding: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 0.9;
    z-index: 1;

}

.cat {
    
    width: 40%;
    position: sticky;
    top: 220px;
    left: 0px;
    align-self: flex-start;
    order: 2;
}

main > div:nth-of-type(1) {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

main div:nth-of-type(1) div {

    width: 57%;
    order: 1;
}
