* {
    outline: 2px solid magenta;
}

:root {

    font-size: 20px;
}

#parent {

    width: 100vw;
    height: 100vh;

    display:flex;
    flex-direction: row;
    justify-content: center;
    

    gap: 10px;

   
}

#parent div{

         color: white;
         flex-basis: 300px;
        
       
         display:flex;
         justify-content: center;
         align-items: center;
        
}
.mi{
    order: 1;
    background-color: rgb(56, 62, 195);
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 700px;
}

.ca {
 order: 3;
 background-color: rgb(236, 138, 81);
 flex-grow: 2;
 flex-basis: 500px;
 align-self: 1px;
}

.ca div{

    background-color: brown;
    width: 90vw;

}

.fl {
    order:4;
    background-color: rgb(140, 228, 180);
    flex-grow: 1;
}

.poland{
    order: 2;
    background-color: rgb(243, 36, 36);
    flex-grow: 1;
}
