* {

    outline: 1px solid #ff00ff;
}

:root{
    font-size: 20px;
}

#main-container {

    width: 500px;
    height: 500px;
    padding: 10px;
    background-color:rgb(232, 160, 237);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    overflow-x: scroll;
}

#main-container div{
    background-color:bisque;
    padding: 15px;
    min-width: 600px;
    height: 400px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}