body { 
    background-color: rgb(249, 226, 247);
}
h1 { 
    text-align: center;
    color:rgb(47, 12, 80)
}
img { 
    text-align: center;
}
h2 {
    text-align: center;
    color: rgb(60, 33, 91);
}
h3 {
    text-align: center;
    color: rgb(94, 66, 119);
}
section{
    text-align: center;
}
a {
    text-align: center;
    font-size: 36pts;
}
nav {
    text-align:center ;
}